.root {
  padding: 0;
  margin: 0;
}

.BackgroundImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 70vh;
  position: relative;
}
.BackgroundImage:hover .Testicard {
  transform: rotateX(0deg);
  transform-origin: top;
  transition: 1s ease-in-out;
  opacity: 1;
}

.Testicard {
  opacity: 0;
  transform: rotateX(-90deg);
  transform-origin: top;
  transition: 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 29vh;
  width: 22vw;
  position: absolute;
  bottom: 1em;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px 20px 20px 20px;
}

.subImageBackground {
  height: 4em;
  width: 4em;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  margin-top: -2em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Testicard img {
  position: absolute;
  background-color: white;
  border: none;
  border-radius: 50%;
}

.Testicard p {
  text-align: center;
}

.Testicard span {
  width: 20em;
  text-align: center;
}

.IoMdStart {
  height: 2.5vh;
  width: 1.25vw;
}

@media screen and (max-width: 768px) {
  .root {
    padding: 0;
    margin: 0;
  }
  .BackgroundImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 25%;
    position: relative;
  }
  .BackgroundImage:hover .Testicard {
    transform: rotateX(0deg);
    transform-origin: top;
    transition: 1s ease-in-out;
    opacity: 1;
  }

  .HoverText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 20vw;
    position: absolute;
    top: 2rem;
    background-color: transparent;
    backdrop-filter: blur(8px);
    color: rgba(229, 132, 17, 1);
    border: 0.1px solid gray;
    border-radius: 20px 20px 20px 20px;
  }
  .Testicard {
    opacity: 0;
    transform: rotateX(-90deg);
    transform-origin: top;
    transition: 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 45%;
    width: 90%;
    position: absolute;
    bottom: 1rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px 20px 20px 20px;
  }

  .subImageBackground {
    height: 4em;
    width: 4em;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    margin-top: -2em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Testicard img {
    position: absolute;
    background-color: white;
    border: none;
    border-radius: 50%;
  }

  .Testicard p {
    text-align: center;
  }

  .Testicard span {
    width: 20em;
    text-align: center;
  }

  .IoMdStart {
    height: 2.5vh;
    width: 1.25vw;
  }
}

@media screen and (max-width: 500px) {
  .root {
    padding: 0;
    margin: 0;
  }
  .BackgroundImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 25%;
    position: relative;
  }
  .BackgroundImage:hover .Testicard {
    transform: rotateX(0deg);
    transform-origin: top;
    transition: 1s ease-in-out;
    opacity: 1;
  }

  .HoverText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 20vw;
    position: absolute;
    top: 2rem;
    background-color: transparent;
    backdrop-filter: blur(8px);
    color: rgba(229, 132, 17, 1);
    border: 0.1px solid gray;
    border-radius: 20px 20px 20px 20px;
  }
  .Testicard {
    opacity: 0;
    transform: rotateX(-90deg);
    transform-origin: top;
    transition: 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 45%;
    width: 90%;
    position: absolute;
    bottom: 1rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px 20px 20px 20px;
  }

  .subImageBackground {
    height: 4em;
    width: 4em;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    margin-top: -2em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Testicard img {
    position: absolute;
    background-color: white;
    border: none;
    border-radius: 50%;
  }

  .Testicard p {
    text-align: center;
  }

  .Testicard span {
    width: 20em;
    text-align: center;
  }

  .IoMdStart {
    height: 2.5vh;
    width: 1.25vw;
  }
}
